<section id="about" class="section-blue">
	<h1>En<span class="dot">·</span>gin<span class="dot">·</span>eer</h1>
	<p id="about-noun">noun</p>
	<p id="about-definition">A person who designs, builds, or maintains engines, machines, or public works</p>
	<hr>
	<h2>About Explore Engineering</h2>
	<div class="row">
		<div class="col-lg">
			<p class="about-paragraph">
				Explore Engineering is a Chicago-based event aimed to introduce high school students into the vast field of engineering. Explore Engineering will have breakout sessions emphasized in six different fields of engineering from numerous of companies that attendees will have the opportunity to learn and make connections with. Since engineering is a pivotal aspect in everyday functions, we want students to fully immerse themselves in this field with intentions of hoping that they will consider in pursuing a career in STEM in addition to inspire the next generation of leaders in this field. In addition, students will hear presentations from engineering professionals, students, and a college panel for students interested in pursuing the academic route of this field. We invite over 20+ organizations, companies, and colleges to showcase what they are all about!
			</p>
		</div>
		<div class="col-lg about-team-image-container">
			<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team.png" class="about-team-image">
		</div>
	</div>
</section>