<section id="faq" class="section-blue">
	<h1>Frequently Asked Questions</h1>
	<div class="row">
		<div class="col-md-6">
			<a data-toggle="collapse" href="#faq1" aria-expanded="false" aria-controls="faq" data-scroll-ignore>
				<div class="faq-question"><p>When and Where is EE?</p></div>
			</a>
			<div class="collapse" id="faq1">
				<div class="faq-answer"><p>Explore Engineering will be held on 04/18 at Stagg High School.</p></div>
			</div>
		</div>
		<div class="col-md-6">
			<a data-toggle="collapse" href="#faq2" aria-expanded="false" aria-controls="faq" data-scroll-ignore>
				<div class="faq-question"><p>Who can attend?</p></div>
			</a>
			<div class="collapse" id="faq2">
				<div class="faq-answer"><p>Explore Engineering is open to all high schoolers residing in the Chicagoland area.</p></div>
			</div>
		</div>
		<div class="col-md-6">
			<a data-toggle="collapse" href="#faq3" aria-expanded="false" aria-controls="faq" data-scroll-ignore>
				<div class="faq-question"><p>How much is Explore Engineering?</p></div>
			</a>
			<div class="collapse" id="faq3">
				<div class="faq-answer"><p>Explore Engineering is FREE to the public!</p></div>
			</div>
		</div>
		<div class="col-md-6">
			<a data-toggle="collapse" href="#faq4" aria-expanded="false" aria-controls="faq" data-scroll-ignore>
				<div class="faq-question"><p>What should I bring?</p></div>
			</a>
			<div class="collapse" id="faq4">
				<div class="faq-answer"><p>Nothing but yourself :)</p></div>
			</div>
		</div>
		<div class="col-md-6">
			<a data-toggle="collapse" href="#faq5" aria-expanded="false" aria-controls="faq" data-scroll-ignore>
				<div class="faq-question"><p>Do I need to have previous experience in technology or engineering to attend the event?</p></div>
			</a>
			<div class="collapse" id="faq5">
				<div class="faq-answer"><p>Nope - Explore Engineering is for everyone.</p></div>
			</div>
		</div>
		<div class="col-md-6">
			<a data-toggle="collapse" href="#faq6" aria-expanded="false" aria-controls="faq" data-scroll-ignore>
				<div class="faq-question"><p>Have another question?</p></div>
			</a>
			<div class="collapse" id="faq6">
				<div class="faq-answer"><p>Email us at <a href="mailto:exeng2019@gmail.com">exeng2019@gmail.com.</a></p></div>
			</div>
		</div>
	</div>
</section>