<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbar">
	<a class="navbar-brand" href="#">
		<img src="/assets/images/logo.png">
		Explore Engineering
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto" id="nav-link-ul">
			<li class="nav-item active">
				<a class="nav-link" href="#hero">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#schedule">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#faq">FAQ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#team">Team</a>
			</li>
		</ul>
	</div>
</nav>