<section id="schedule" class="section-gray">
	<h1>Schedule</h1>
	<div class="row">
		<div class="col-lg-4 col-md-6" data-aos="fade-in">
			<div class="schedule-card">
				<p class="card-time">5:40 - 6:00 pm</p>
				<p class="card-title">Check-in</p>
				<p class="card-text">Check in table located in front of the North Entrance</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6" data-aos="fade-in" data-aos-delay="400">
			<div class="schedule-card">
				<p class="card-time">6:00 - 6:45 pm</p>
				<p class="card-title">Opening and Keynote Speakers</p>
				<p class="card-text">Hear from our Explore Engineering team and from our speakers</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6" data-aos="fade-in" data-aos-delay="800">
			<div class="schedule-card">
				<p class="card-time">6:45 - 7:15 pm</p>
				<p class="card-title">Showcase</p>
				<p class="card-text">Checkout table showcases at the PAC Lobby from 20+ organizations and companies from across the Chicagoland area. Refreshments will be served! </p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6" data-aos="fade-in" data-aos-delay="1200">
			<div class="schedule-card">
				<p class="card-time">7:20 - 8:00 pm</p>
				<p class="card-title">Breakout Session</p>
				<p class="card-text">Hear in from professionals from these fields of engineering</p>
				<ul>
					<li>Civil</li>
					<li>Mechanical</li>
					<li>Software</li>
					<li>Electrical</li>
					<li>Chemical </li>
					<li>Environmental</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-6" data-aos="fade-in" data-aos-delay="1600">
			<div class="schedule-card">
				<p class="card-time">8:00 - 8:50 pm</p>
				<p class="card-title">College Panel or Showcase</p>
				<p class="card-text">Students will have the option to attend the college panel which is lead by Stagg’s guidance department and showcases colleges like IIT, Loras, and more or students can visit the PAC Lobby for the showcase</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6" data-aos="fade-in" data-aos-delay="2000">
			<div class="schedule-card">
				<p class="card-time">8:50 - 9:00pm</p>
				<p class="card-title">What’s Next and Closing</p>
				<p class="card-text">Closing words</p>
			</div>
		</div>
	</div>
</section>