<section id="team" class="section-white">
	<h1>Team</h1>
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="person-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team/monica.png">
				<h3>Monica Para</h3>
				<p>Founder</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="person-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team/musa.png">
				<h3>Musa Ibrahim</h3>
				<p>Co-Director</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="person-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team/alexa.jpg">
				<h3>Alexa Barstatis</h3>
				<p>Co-Director</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="person-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team/salma.png">
				<h3>Salma Kamni</h3>
				<p>Outreach Director</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="person-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team/karol.png">
				<h3>Karol Para</h3>
				<p>Public Relations</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="person-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="/assets/images/team/peter.png">
				<h3>Peter Gordan</h3>
				<p>Correspondent</p>
			</div>
		</div>
	</div>
</section>